@media (max-width: 1000px) {
    .app {
        margin: 0 1vw;
        margin-right: calc(20vw + 1vw);
      }
}

@media (max-width: 720px) {
    .table {
        width: 100%;

        .things {
            width: 100%;
            justify-content: space-around;
        }
    }

    main {
        font-size: 12px;
    }

    input.css-editor__selector::placeholder {
        font-size: 12px;
    }

    .css-editor__controls {
        width: 85% !important;
    }

    .css-editor__comments {
        line-height: 1.87 !important;
        width: 70%;
    }

    .markup-viewer__html {
        font-size: 12px !important;
        line-height: 1.9 !important;
    }

    .reset {
        font-size: 15px;
    }
}