/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $main;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $highlight;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $alt;
}