@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
@import 'styles/_vars';
@import 'styles/scrollbar';

body {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
  color: $text;

  background-color: $bg;
}

aside {
  position: fixed;
  right: 0;
  top: 0;

  height: 100vh;
  width: 20vw;

  text-align: center;

  background-color: $main;
  border-left: 2px solid $highlight;
}

header {
  height: 150px;
  margin-bottom: 50px;

  background-color: $main;
}

main {
  display: flex;

  background-color: $main;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  & a {
    color: $active;
    
    transition: all .3s ease-in-out;

    &:hover {
      color: $alt-active;
    }
  }
}

header, main {
  border: 2px solid $highlight;
}

.app {
  margin: 0 10vw;
  margin-right: 30vw;
}

.headline {
  text-align: center;
}

.items {
  height: 100%;
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  background-color: $main;
}

.things {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 60%;

  background-color: $main;
}

.css-editor {
  width: 50%;
  
  .css-editor__field {
    display: flex;

    background-color: $alt;

  .css-editor__code {
    width: 100%;
    height: 100%;

    .css-editor__comments {
      margin-top: 10px;
      padding: 10px;

      line-height: 1.38;
      font-family: 'Source Code Pro', monospace;
      color: rgba(170, 175, 196, 0.5);

      .css-editor__hint {
        display: inline-block;
        width: 100%;
        padding-left: 10px;

        color: transparent;
        font-weight: 700; 
        
        cursor: default;

        &:hover {
          color: rgba(170, 175, 196, 0.5);
          
          transition: all .4s ease-in-out;
        
          cursor: default;
        }
      }
    }
  }
  
  .css-editor__controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

    .css-editor__selector {
      height: 20px;
      width: 90%;
      margin: 0 5px;
      margin-top: 5px;
      padding: 5px 5px;

      font-family: 'Source Code Pro', monospace;
      color: $text;
      font-size: 16px;
      font-weight: 700;

      border: none;
      background-color: transparent;

      transition: all .2s ease-in;

      &::placeholder {
        color: $text;
      }

      &:focus {
        color: $bg;
        
        outline: none;
        
        animation: 6s ease-in-out highlight infinite;

        &::placeholder {
          color: $bg;
        }
      }
    }

    .css-editor__apply {
      height: 30px;
      width: 30px;
      margin-top: 5px;
      margin-right: 5px;
      
      font-size: 16px;
      font-family: 'Source Code Pro', monospace;
      color: $bg;
      text-align: center;
      
      background-color: $text;
      outline: none;
      border: none;
      border: 2px solid transparent;

      transition: all .2s ease-in-out;

      &:hover {
        color: $text;
        
        border: 2px solid $text;
        background-color: $bg;
        cursor: pointer;
      }
    }
  }
}

.markup-viewer {
  width: 50%;

  .markup-viewer__field {
    display: flex;
  }

  .markup-viewer__html {
    padding: 9px 10px;
    
    line-height: 1.5;
    font-size: 15px;
    font-family: 'Source Code Pro', monospace;
    
    cursor: default;
  }
}

.css-editor__lines, .markup-viewer__lines {
  height: 100%;
  width: 25px;
  margin: 0;
  padding: 10px 4px;
  
  font-size: 15px;
  font-family: 'Source Code Pro', monospace;
  text-align: right;
  line-height: 1.5;
  
  border-right: 2px solid $highlight;
  
  list-style-type: none;
}

.css-editor__lines {
  color: $text;
  border-right: 2px solid $main;
}

.css-editor__header, .markup-viewer__header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  
  font-family: 'Source Code Pro', monospace;
  
  background-color: $bg;
}

.levels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;

  font-size: 15px;
  font-weight: 600;
  
  list-style-position: inside;

  & > li {
    margin: 5px 0;
    
    transition: .2s all ease-in-out;

    &:hover {  
      color: $active;
      
      cursor: pointer;
    
    }
  }
}

.levels__item_passed {
  text-decoration: line-through;
  color: $highlight;

  &:hover {
    color: $highlight !important;

    cursor: default !important;
  }
}

.levels__item_active {
  color: $alt-active;

  &:hover {
    color: $alt-active !important;

    cursor: default !important;
  }
}

.reset {
  width: 80%;
  height: 50px;

  color: $bg;
  font-size: 20px;

  background-color: $text;
  border: 2px solid $text;
  box-shadow: 0px 20px 5px 0px transparent, 0 50px 10px 0 transparent;

  transition: all .3s ease-in-out;



  &:hover {
    color: $text;
    
    background-color: $bg;
    border: $active 2px solid;
    box-shadow: 0px 5px 5px 0px $active, 0 10px 10px 0 $alt-active;

    cursor: pointer;
  }
}

.empty {
  width: 50px;
  height: auto;
}

.table {
  font-size: 30px;
}

.table__item {
  margin: 0 20px;

  outline: 4px solid transparent;

  transition: all .2s ease-in-out;
  
  &:hover {
    outline: 4px solid $alt-text;
  }
}

.target {
  animation: infinite 5s target;
}

#purple.target {
  animation: infinite 5s atarget;

}

.jar {
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 70px;
  width: 60px;
  padding: 5px 0;

  color: $bg;
  font-size: 12px;
  
  background-color: rgba(188, 211, 229, 0.2);
  border-top: 10px solid $active;
  border-radius: 0 0 5px 5px;
  outline: 4px solid transparent;

  transform-style: preserve-3d;
  transform: translateZ(10px);

  &:hover {
    outline: 4px solid $alt-text;
  }
}

.circle {
  position: relative;
  z-index: 0;

  width: 50px;
  height: 50px;
  margin-top: 40px;
  
  font-size: 12px;
  color: $bg;

  border-radius: 50%;
  background-color: $active;
  box-shadow: inset -5px -5px 10px rgba(150, 32, 32, 0.5);
  outline: 4px solid transparent;

  transform: translateZ(-10px);

  &:hover {
    outline: 4px solid $alt-text;
  }
  
}

.square {
  height: 50px;
  width: 50px;
  margin-top: 40px;

  font-size: 12px;
  color: $bg;

  background-color: $active;
  box-shadow: inset -5px 5px 1px rgba(114, 67, 28, 0.9);
  outline: 4px solid transparent;
  
  transform: translateZ(-10px);

  &:hover {
    outline: 4px solid $alt-text;
  }
}

#purple {
  background-color: $alt-active;
  box-shadow: inset -5px -5px 10px rgba(9, 8, 59, 0.5);
}

#purple.square {
  box-shadow: inset -5px 5px 1px rgba(17, 16, 75, 0.9);
}

.selection {
  animation: correct 1s ease-in-out;
}

.wrong {
  animation: wrong 0.7s ease-in-out;
}

.levelBank {
  display: none;
}

.small {
  outline: 4px solid transparent;

  transform: scale(0.7);

  &:hover {
    outline: 4px solid $alt-text;
  }
}

.enhanced {
  color: $active;
}

.el-enhanced {
  outline: 4px solid $alt-text;

}

circle[angry] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-top: 40px;

  color: $bg;
  font-size: 20px;
  font-weight: 1000;
  
  background-color: $active;
  box-shadow: inset -5px -5px 10px rgba(150, 32, 32, 0.5);
  border-radius: 50%;

  cursor: default;
}

.link {
  height: 20px;
  width: auto;
  margin-left: 10px;
}

@keyframes correct {
 from {
  opacity: 1;
 }

 to {
  opacity: 0;
 }
}

@keyframes highlight {
  0% {
    background-color: $active;
  }

  50% {
    background-color: $alt-active;

  }

  100% {
    background-color: $active;

  }
}

@keyframes target {
  0% {
    background-color: $active;
  }

  25% {
    background-color: rgba(248, 196, 85, 0.3);
  }

  50% {
    background-color: $active;
  }

  75% {
    background-color: rgba(248, 196, 85, 0.3);
  }

  100% {
    background-color: $active;

  }
}

@keyframes atarget {
  0% {
    background-color: $alt-active;
  }

  25% {
    background-color: rgba(131, 96, 255, 0.3);
  }

  50% {
    background-color: $alt-active;
  }

  75% {
    background-color: rgba(131, 96, 255, 0.3);
  }

  100% {
    background-color: $alt-active;
  }
}

@keyframes wrong {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

@import './styles/adaptive';
