@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import 'styles/_vars';
@import 'styles/scrollbar';

body {
  background-color: $bg;
  color: $text;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;

}

aside {
  background-color: $main;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 20vw;
  text-align: center;
  border-left: 2px solid $highlight;
}

header {
  background-color: $main;
  height: 150px;
  margin-bottom: 50px;
}

main {
  background-color: $main;
  display: flex;
}

footer {
  text-align: center;

  & a {
    color: $active;
    transition: all .3s ease-in-out;

    &:hover {
      color: $alt-active;
    }
  }
}

header, main {
  border: 2px solid $highlight;
}

.app {
  margin: 0 10vw;
  margin-right: calc(10vw + 20vw);
}

.headline {
  text-align: center;
}

.items {
  height: 100%;
}

.table {
  background-color: $main;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.css-editor {
  width: 50%;
  
  .css-editor__field {
    display: flex;
    background-color: $alt;

    .css-editor__selector {
      width: 100%;
      margin: 0 5px;
      margin-top: 5px;
      height: 20px;
      background-color: transparent;
      border: none;
      color: $text;
      font-size: 16px;
      padding: 5px;
      font-weight: 700;

      transition: all .2s ease-in;

      &::placeholder {
        color: $text;
      }

      &:focus {
        outline: none;
        animation: 6s ease-in-out highlight infinite;
        color: $bg;
      }
    }
  }
}

.markup-viewer {
  width: 50%;

  .markup-viewer__field {
    display: flex;
  }

  .markup-viewer__html {
    padding: 9px 10px;
    line-height: 1.5;
    font-size: 15px;
  }
}

.css-editor__lines, .markup-viewer__lines {
  list-style-type: none;
  border-right: 2px solid $highlight;
  width: 25px;
  line-height: 1.5;
  font-size: 15px;
  height: 100%;
  margin: 0;
  padding: 10px 4px;
  text-align: right;
}

.css-editor__lines {
  border-right: 2px solid $main;
  color: $text;
}

.css-editor__header, .markup-viewer__header {
  background-color: $bg;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.levels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style-position: inside;
  width: 100%;
  font-size: 15px;
  font-weight: 600;

  &>li {
    margin: 5px 0;
    transition: .2s all ease-in-out;

    &:hover {
      
      color: $active;
      cursor: pointer;

    }
  }
}

.levels__item_passed {
  text-decoration: line-through;

  &:hover {
    color: $text !important;
    cursor: unset !important;
  }
}

.levels__item_active {
  color: $alt-active;

  &:hover {
    cursor: default !important;
    color: $alt-active !important;
  }
}

.reset {
  width: 80%;
  height: 50px;
  background-color: $text;
  color: $bg;
  border: 2px solid $text;
  font-size: 20px;
  transition: all .3s ease-in-out;
  box-shadow: 0px 20px 5px 0px transparent, 0 50px 10px 0 transparent;


  &:hover {
    cursor: pointer;
    background-color: $bg;
    color: $text;
    border: $active 2px solid;
    box-shadow: 0px 5px 5px 0px $active, 0 10px 10px 0 $alt-active;
  }
}

.empty {
  width: 50px;
  height: auto;
}

.table {
}

.table__item {
  margin: 0 20px;
  
}

.jar {
  height: 70px;
  width: 60px;
  background-color: rgba(188, 211, 229, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 5px 0;
  z-index: 2;
  border-top: 10px solid $active;
  border-radius: 0 0 5px 5px;
  transform-style: preserve-3d;
  transform: translateZ(10px);
}

.circle {
  transform: translateZ(-10px);
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: $active;
  box-shadow: inset -5px -5px 10px rgba(150, 32, 32, 0.5);
  z-index: 0;
  margin-top: 40px;
  
}

.square {
  transform: translateZ(-10px);
  height: 50px;
  width: 50px;
  background-color: $active;
  box-shadow: inset -5px 5px 1px rgba(114, 67, 28, 0.9);
  margin-top: 40px;
}

#purple {
  background-color: $alt-active;
  box-shadow: inset -5px -5px 10px rgba(9, 8, 59, 0.5);
}

#purple.square {
  box-shadow: inset -5px 5px 1px rgba(17, 16, 75, 0.9);


}
















@keyframes highlight {
  0% {
    background-color: $active;
  }

  50% {
    background-color: $alt-active;

  }

  100% {
    background-color: $active;

  }
}